<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InspoProject</key>
	<string>$(INSPO_DESKTOP_PROJECT)</string>
	<key>InspoRead</key>
	<string>$(INSPO_DESKTOP_READ)</string>
	<key>InspoPage</key>
	<string>$(INSPO_DESKTOP_PAGE)</string>
	<key>InspoDevGene</key>
	<string>$(INSPO_DESKTOP_DEV_GENE)</string>
	<key>InspoDevStates</key>
	<string>$(INSPO_DESKTOP_DEV_STATES)</string>
	<key>InspoDevAccounts</key>
	<string>$(INSPO_DESKTOP_DEV_ACCOUNTS)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
